.app-container {
  padding: 20px;
}

.item-list {
  padding: 20px 0 20px 0;
}

.list-item {
  cursor: pointer;
}

.list-item .icon {
  margin-right: 25px;
}

.item-detail {
  padding: 20px 0 20px 0;
}

.suggestions-list {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
}

.spinner-container {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}